[package]
name = "arkdata"
version = "2.0.0"
authors = ["astral4 <88992929+astral4@users.noreply.github.com>"]
edition = "2021"
readme = "README.md"
homepage = "https://github.com/astral4/arkdata"
repository = "https://github.com/astral4/arkdata"
license = "AGPL-3.0-or-later"
publish = false

[dependencies]
again = { version = "0.1.2", default-features = false, features = ["rand"] }
ahash = { version = "0.8.2", features = ["serde"] }
anyhow = "1.0.68"
bytes = "1.3.0"
flume = "0.10.14"
futures = "0.3.25"
glob = "0.3.1"
image = { version = "0.24.5", default-features = false, features = ["png"] }
once_cell = "1.17.0"
pyo3 = { version = "0.18.0", default-features = false, features = ["auto-initialize"] }
rayon = "1.6.1"
reqwest = { version = "0.11.14", default-features = false, features = ["blocking", "json", "rustls-tls"] }
serde = { version = "1.0.152", features = ["derive"] }
serde_json = "1.0.91"
tap = "1.0.1"
tokio = { version = "1.24.2", features = ["rt-multi-thread", "macros"] }
toml = "0.5.11"
zip = "0.6.3"

[dev-dependencies]
uuid = { version = "1.2.2", default-features = false, features = ["v4"] }

[profile.release]
strip = true
lto = true
codegen-units = 1
